@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: normal;
  font-display: swap;
  src: local("Montserrat-Black"), url("../fonts/Montserrat-Black.ttf") format("ttf");
}
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: bold;
  font-display: swap;
  src: local("Montserrat-Bold"), url("../fonts/Montserrat-Bold.ttf") format("ttf");
}
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: local("Montserrat-Light"), url("../fonts/Montserrat-Light.ttf") format("ttf");
}
.list-reset {
  list-style-type: none;
  padding-left: 0;
  margin: 0;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}
body {
  font-family: "Montserrat", "Arial", sans-serif;
  font-style: normal;
  margin: 0;
  padding: 0;
  width: auto;
  background-color: #F9F7F7;
}
.wrapper {
  width: 1920px;
  margin: 0 auto;
  background-color: #ffffff;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
a {
  display: block;
}
img {
  display: block;
}
.header {
  width: 1400px;
  min-height: 207px;
  margin: 0 auto;
  display: flex;
  align-items: center;
}
.header__list {
  width: 987px;
  min-height: 29px;
  margin-left: 100px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}
.header__items {
  margin-right: 30px;
}
.header__link {
  text-decoration: none;
  padding: 7px;
  color: #000000;
  font-size: 17px;
  text-transform: uppercase;
  line-height: 16px;
}
.header__link:hover {
  color: #D1A954;
}
.header__link:active {
  color: rgba(209, 169, 84, 0.5);
}
.header__link--active {
  color: rgba(209, 169, 84, 0.7);
  border: 1px solid rgba(209, 169, 84, 0.7);
}
.header__button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.services {
  width: 1800px;
  margin: 0 auto;
  margin-bottom: 120px;
}
.services__list {
  display: flex;
  justify-content: space-between;
}
.services__items {
  position: relative;
}
.services__block {
  position: absolute;
  bottom: 0;
  width: 580px;
  background-color: rgba(209, 169, 84, 0.8);
  color: #ffffff;
  padding-top: 21px;
  padding-bottom: 22px;
  text-align: center;
}
.services__border {
  width: 550px;
  min-height: 126px;
  border: 2px solid rgba(255, 255, 255, 0.5);
  margin: 0 auto;
  padding-bottom: 20px;
}
.services__title {
  font-size: 30px;
  font-weight: 300;
  margin-bottom: 14px;
}
.services__p {
  font-size: 14px;
  width: 200px;
  margin: 0 auto;
  line-height: 135%;
}
.info {
  margin-bottom: 120px;
  background: linear-gradient(to top, #F9F7F7 63%, #ffffff 40%);
  padding-bottom: 45px;
}
.info__block-inner {
  width: 287px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.info__title-big {
  font-size: 36px;
  line-height: 145%;
  text-transform: uppercase;
  font-weight: 300;
  margin-bottom: 0;
}
.info__p-min {
  font-size: 9px;
  text-transform: uppercase;
}
.info__link {
  width: 940px;
  margin: 0 auto;
}
.info__p {
  font-size: 14px;
  line-height: 135%;
  color: #616161;
}
.info__list {
  width: 1015px;
  margin-left: 505px;
  margin-top: 90px;
  display: grid;
  grid-template-rows: auto auto;
  grid-template-columns: 370px 250px 260px;
  column-gap: 30px;
  row-gap: 23px;
}
.info__items:first-child {
  grid-row-start: 1;
  grid-row-end: 3;
  width: 340px;
}
.info__img-icon {
  width: 203px;
  margin: 0 auto;
  margin-bottom: 33px;
}
.info__title {
  font-weight: 300;
  font-size: 16px;
  line-height: 135%;
  text-transform: uppercase;
  margin-left: 22px;
  margin-bottom: 0;
}
.info__inner {
  display: flex;
  align-items: center;
}
.gallery {
  width: 1110px;
  margin: 0 auto;
  margin-bottom: 150px;
}
.gallery__list {
  display: flex;
  flex-basis: 960px;
  justify-content: flex-end;
  flex-wrap: wrap;
}
.gallery__items {
  margin-right: 30px;
  margin-bottom: 30px;
  height: 300px;
}
.gallery__items:nth-child(3),
.gallery__items:nth-child(5),
.gallery__items:nth-child(6) {
  margin-right: 0;
}
.gallery__items:nth-child(4),
.gallery__items:nth-child(6) {
  margin-bottom: 0;
}
.gallery__items:first-child {
  width: 255px;
  height: auto;
  text-align: center;
  padding: 40px;
  padding-top: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.gallery__title {
  font-weight: 300;
  font-size: 24px;
  line-height: 135%;
  text-transform: uppercase;
  margin-bottom: 15px;
}
.gallery__p {
  font-weight: 300;
  font-size: 9px;
  line-height: 11px;
  text-transform: uppercase;
}
.download {
  width: 100%;
  background-image: url(../img/download-image.png);
  min-height: 409px;
  padding-top: 90px;
}
.download__title {
  font-weight: 300;
  font-size: 36px;
  line-height: 145%;
  text-transform: uppercase;
  color: #ffffff;
  margin-left: 760px;
}
.download__block {
  width: 665px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  margin-top: 55px;
}
.download__link {
  font-weight: 300;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  color: #000000;
  background-color: #ffffff;
  padding-top: 25px;
  padding-bottom: 20px;
  padding-left: 13px;
  padding-right: 13px;
}
.download__link:hover {
  background-color: rgba(255, 255, 255, 0.7);
}
.download__link:active {
  background-color: rgba(255, 255, 255, 0.5);
  color: rgba(0, 0, 0, 0.7);
}
.download__link:first-child {
  width: 234px;
}
.download__link:nth-child(2) {
  width: 294px;
}
.contacts {
  width: 1110px;
  margin: 0 auto;
  display: flex;
  margin-top: 120px;
}
.contacts__form {
  width: 540px;
  display: flex;
  flex-direction: column;
}
.contacts__block {
  width: 529px;
}
.contacts__block-flex {
  display: flex;
}
.contacts__list {
  width: 255px;
}
.contacts__items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 25px;
}
.contacts__items:last-child,
.contacts__items:first-child {
  margin-bottom: 0;
}
.contacts__p-inner {
  font-weight: 300;
  font-size: 16px;
  line-height: 135%;
  text-transform: uppercase;
}
.contacts__link {
  width: 200px;
  font-weight: 300;
  font-size: 14px;
  line-height: 135%;
  text-decoration: none;
  color: #000000;
}
.contacts__link--map {
  text-decoration: underline;
}
.contacts__title {
  text-transform: uppercase;
  font-weight: 300;
  font-size: 36px;
  line-height: 145%;
  margin-top: 0;
}
.contacts__p {
  font-weight: 300;
  font-size: 14px;
  line-height: 135%;
  color: #616161;
}
.contacts__input {
  padding: 12px;
  border: none;
  border-bottom: 1px solid #D0D0D0;
  margin-bottom: 15px;
}
.contacts__input--last {
  margin-bottom: 35px;
}
.contacts__input[placeholder] {
  font-weight: 300;
  font-size: 14px;
  line-height: 135%;
}
.contacts__text {
  padding: 12px;
  border: 1px solid #D0D0D0;
  margin-bottom: 25px;
  color: #616161;
  font-weight: 300;
  font-size: 14px;
  line-height: 135%;
  height: 160px;
}
.contacts__button {
  width: 170px;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 13px;
  padding-bottom: 13px;
  border: none;
  background-color: #D1A954;
  cursor: pointer;
  color: #ffffff;
  font-weight: 300;
  font-size: 16px;
  line-height: 135%;
  text-transform: uppercase;
  letter-spacing: 0.05em;
}
.contacts__button:hover {
  background-color: rgba(209, 169, 84, 0.7);
}
.contacts__button:active {
  background-color: rgba(209, 169, 84, 0.5);
  color: rgba(255, 255, 255, 0.7);
}
.instagram {
  width: 100%;
  background-color: #F9F7F7;
  padding-top: 120px;
  margin-top: 120px;
}
.instagram__block {
  width: 350px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 90px;
}
.instagram__title {
  font-weight: 300;
  font-size: 36px;
  line-height: 145%;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #222222;
  margin-bottom: 5px;
}
.instagram__p {
  font-weight: 300;
  font-size: 9px;
  line-height: 11px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.instagram__list {
  display: flex;
}
.footer {
  background-color: #F9F7F7;
  width: 100%;
  padding-left: 405px;
  padding-right: 405px;
  padding-top: 40px;
  padding-bottom: 37px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer__list {
  display: flex;
}
.footer__items:nth-child(2) {
  margin-right: 5px;
  margin-left: 5px;
}
.footer__p {
  font-weight: 300;
  font-size: 14px;
  line-height: 135%;
}
.footer__link {
  font-weight: 300;
  font-size: 14px;
  line-height: 135%;
  text-decoration: none;
  color: #000000;
}
.footer__link:hover {
  text-decoration: underline;
}
